Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,


CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.GlobalConstantCase: lower_case
  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.EnumConstantCase: lower_case
  readability-braces-around-statements.ShortStatementLines: 4